<div class="card text-center">
    <div class="container-fluid">
        <h1 class="display-4">Prospectos - App Node JS y Monoodb</h1>
        <p class="lead">Proyecto de evaaluación para vacante de desarrollador.</p>
    </div>
</div>