<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Sistema de gestión de prospectos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {{#if user}}
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Prospectos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/prospectos">Lista de prospectos</a></li>
                        <li><a class="dropdown-item" href="/prospectos/add">Agregar prospecto</a></li>
                    </ul>
                </li>
                {{/if}}
            </ul>
            <ul class="navbar-nav ms-auto">
                {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/logout">Cerrar Sesión</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/signin">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/signup">Registrar</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>